{% extends 'events/base.html' %}
{% block content %}
<center>
  <div class="card">
    <div class="card-header">
      Venue
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ venue }}</h5>
      <p class="card-text">
      
  
    {{ venue.address }}<br/>
    {{ venue.Zip_code }}<br/>
    {{ venue.phone_number }}<br/>
    {{ venue.email_address }}<br/>
    <a href="{{ venue.web }}">{{ venue.web }}</a><br/>
   
        
    <br>
   
    {% if venue.venue_image %}
    <img src="{{ venue.venue_image.url }}" width=500>
    {% endif %}
  
    </center>
  </div>
</div>
{% endblock%}